/* login-form-div */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input {
  border-radius: 4px;
  border: 1px solid gainsboro;
  padding: 8px;
  margin-top: 5px;
  font-weight: bold;
  width: 100%;
}

.register-form-div {
    border: 1px solid rgb(184, 181, 181);
    border-radius: 10px;
    background-color: #faebd7;
}

.register-button {
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid gainsboro;
  padding: 5px;
  cursor: pointer;
  margin: 0;
  /* background-color: none; */
}

h2 {
    text-align: center;
    font-weight: 600;
    padding: 5px;
}

.login-href {
    all: unset;
    cursor: pointer;
}
.login-href:hover {
    color: rgb(143, 143, 243);
}

form {
    padding: 50px;
}

.register-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
