@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 500;
  font-family: "Roboto Slab";
  color: #383838;
}

.logo {
  text-align: center;
  padding: 1.5em;
}

img {
  max-width: 100%;
}

.form {
  margin: 0 auto;
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.form button {
  background-color: #ffbd59;
  text-transform: uppercase;
}

button,
select,
input {
  background-color: #ffbd59;
  color: #383838;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

#root {
  margin: 0 auto;
  width: 90%;
  max-width: 93.75em;
}

.book-list {
  margin: 0 auto;
  height: 200px;
  max-width: 75%;
  border: 0.125rem #ffbd59 solid;
  border-radius: 0.5rem;
  overflow: hidden;
}

.book-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  max-height: 100%;
  overflow-y: auto;
  padding: 1.2rem;
}

.book-list ul li button {
  all: unset;
  cursor: pointer;
  color: #fff;
}

.book-list .selected {
  text-decoration: line-through;
}

.book-list span {
  border-radius: 0.3rem;
  padding-inline: 0.5rem;
}

li {
  list-style: none;
  background-color: #ffbd59;
  padding-inline: 0.5rem;
  border-radius: 0.3rem;
}

.book-list ul::-webkit-scrollbar {
  width: 0.7rem;
}

.book-list ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.book-list ul {
  scrollbar-width: thin;
  scrollbar-color: #ffbd59 #f1f1f1;
}

.summary {
  text-align: center;
  padding: 2rem;
}

.manage {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.manage select,
.manage button {
  padding: 0.55rem 2rem;
  margin: 0.5em;
}
